<%- include('partials/header', { title: 'dogs' }) %>
<div class="text-center">
    <p class="text-xl mb-4"><%= fact %></p>
    <img src="<%= imageUrl %>" alt="Random Dog" class="w-full rounded-lg mb-4 transition hover:scale-105 transform duration-300">
</div>
<a href="/" class="mt-8 inline-block bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded transition">Go back</a>

    <%- include('partials/footer') %>