    <%- include('partials/header') %>

    <main class="max-w-2xl mx-auto p-6">
        <div class="text-center">
            <p class="text-2xl font-semibold mb-4 text-gray-700"><%= fact %></p>
            <img src="<%= imageUrl %>" alt="Random Dog" class="w-full max-w-lg mx-auto rounded-lg shadow-lg mb-6 transition-transform transform hover:scale-105 duration-300">
        </div>
        <a href="/" class="block mt-8 max-w-xs mx-auto text-center bg-blue-500 hover:bg-blue-600 text-white px-6 py-3 rounded-lg shadow-lg transition-transform transform hover:scale-105 duration-300">Go back</a>
    </main>

    <%- include('partials/footer') %>

