<%- include('partials/header', { title: 'Home' }) %>

<div class="max-w-3xl mx-auto p-8 bg-white rounded-lg shadow-md mt-10">
    <h2 class="text-3xl font-bold mb-6 text-center text-gray-800">Welcome to Fun APIs!</h2>
    <p class="text-lg mb-8 text-center text-gray-600">Dive into different fun APIs with this simple and delightful web
        app.</p>
    <ul class="grid grid-cols-1 gap-4">
        <li>
            <a href="/joke"
                class="block p-4 bg-blue-500 text-white rounded-lg shadow-lg text-center text-xl font-semibold transition transform hover:bg-blue-600 hover:scale-105">
                Get a Random Joke
            </a>
        </li>
        <li>
            <a href="/weather"
                class="block p-4 bg-blue-500 text-white rounded-lg shadow-lg text-center text-xl font-semibold transition transform hover:bg-blue-600 hover:scale-105">
                Check the Weather
            </a>
        </li>
        <li>
            <a href="/cat-facts"
                class="block p-4 bg-blue-500 text-white rounded-lg shadow-lg text-center text-xl font-semibold transition transform hover:bg-blue-600 hover:scale-105">
                Get a Random Cat Fact
            </a>
        </li>
        <li>
            <a href="/dog-fact"
                class="block p-4 bg-blue-500 text-white rounded-lg shadow-lg text-center text-xl font-semibold transition transform hover:bg-blue-600 hover:scale-105">
                Get a Dog Fact
            </a>
        </li>
        <li>
            <a href="/space"
                class="block p-4 bg-blue-500 text-white rounded-lg shadow-lg text-center text-xl font-semibold transition transform hover:bg-blue-600 hover:scale-105">
                Spaceeee
            </a>
        </li>
        <li>
            <a href="/pokemon"
                class="block p-4 bg-blue-500 text-white rounded-lg shadow-lg text-center text-xl font-semibold transition transform hover:bg-blue-600 hover:scale-105">
                random pokemonnnn
            </a>
        </li>
    </ul>
</div>

<%- include('partials/footer') %>